.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.gitignore
.husky/**
.yarnrc
.yarnrc.yml
pnpm-lock.yaml
package-lock.json
esbuild.js
vsc-extension-quickstart.md
commitlint.config.js
.versionrc.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix